<div class="widgets">
    <div class="row">
        <ba-card title="Rekapitulasi" baCardClass="with-scroll" class="data-table-container">


		 <div class="row">
                <div class="col-sm-2">
                    <label class="label-control">Tahun Pembelajaran</label>
                    <select class="form-control input-sm" >
                      <option [ngValue]="2017">2017</option>
                      <option [ngValue]="2018">2018</option>
                      <option [ngValue]="2019">2019</option>
            					<option [ngValue]="2020">2020</option>
            					<option [ngValue]="2021">2021</option>
            					<option [ngValue]="2022">2022</option>
            					<option [ngValue]="2023">2023</option>
            					<option [ngValue]="2024">2024</option>
            					<option [ngValue]="2025">2025</option>
            					<option [ngValue]="2026">2026</option>
            					<option [ngValue]="2027">2027</option>
            					<option [ngValue]="2028">2028</option>
            					<option [ngValue]="2029">2029</option>
            					<option [ngValue]="2030">2030</option>
                </select>
                </div>

                <div class="col-sm-2">
                    <label class="label-control">Semester</label>
                    <select class="form-control input-sm" >
                      <option >Ganjil</option>
            					<option >Genap</option>
                </select>
                </div>

                <div class="col-sm-2">
                    <label class="label-control">Kelas</label>
                    <select class="form-control input-sm" >
                      <option >1A-D3</option>
            					<option >1B-D3</option>
            					<option >2A-D3</option>
            					<option >2B-D3</option>
            					<option >3A-D3</option>
            					<option >3B-D3</option>
            					<option >1A-D4</option>
            					<option >2A-D4</option>
            					<option >3A-D4</option>
            					<option >4A-D4</option>
                </select>
                </div>

                <!--
                <div class="col-sm-4">
                    <div class="row">
                        <label class="col-sm-12 label-control">Sort by</label>
                    </div>
                    <div class="row">
                        <div class="offset-sm-1 col-sm-5">
                            <div class="row">
                                <select class="form-control input-sm" [(ngModel)]="sortBy">
                            <option ngValue="name">Name</option>
                            <option ngValue="nim">NIM</option>
                            <option ngValue="date">Tanggal</option>
                        </select>
                            </div>
                        </div>
                        <div class="offset-sm-1 col-sm-5">
                            <div class="row">
                                <select class="form-control input-sm" [(ngModel)]="sortOrder">
                            <option ngValue="asc">Ascending</option>
                            <option ngValue="desc">Descending</option>
                            <option ngValue="badValue">Bad value</option>
                        </select>
                            </div>
                        </div>
                    </div>
                </div>
              -->


            </div>


            <div class="panel panel-default">
                <div class="panel-heading">Data Ketidakhadiran</div>

                <table class="table table-striped" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
					<!--
						<tr>
                            <th colspan="5">
                                Filter by name:
                                <input class="form-control" [(ngModel)]="filterQuery" />
                            </th>
                        </tr>
						-->

                        <tr>
                            <th style="width: 10%">
								<mfDefaultSorter by="nim">NIM</mfDefaultSorter>
							</th>
                            <th style="width: 20%">
                                <mfDefaultSorter by="name">Nama</mfDefaultSorter>
                            </th>
							<th style="width: 10%">
                                <mfDefaultSorter by="date">Tanggal</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="sakit">Sakit</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="izin">Izin</mfDefaultSorter>
                            </th>
                            <th style="width: 5%">
                                <mfDefaultSorter by="alpa">Alpa</mfDefaultSorter>
                            </th>

							<!--
                            <th style="width: 40%">
                                <mfDefaultSorter by="email">Email</mfDefaultSorter>
                            </th>
                            <th style="width: 20%">
                                <mfDefaultSorter [by]="sortByWordLength">City</mfDefaultSorter>
                            </th>
							-->
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                     <!--       <td>
                                <button (click)="remove(item)" class="btn btn-danger">x</button>
                            </td>
				-->			<td>{{item.nim}}</td>
                            <td>{{item.name}}</td>
							<td>{{item.date}}</td>
							<td class="text-center">{{item.sakit}}</td>
							<td class="text-center">{{item.izin}}</td>
							<td class="text-center">{{item.alpa}}</td>

					<!--		<td>{{item.email}}</td>
                            <td>{{item.city | uppercase}}</td>
                    -->    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator [rowsOnPageSet]="[5,10,15]"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </ba-card>
        <div> <button type="submit" class="btn btn-default">Export</button> </div>
    </div>
</div>
